body {
	background-color: #222222;
	font-family: "PT Sans Narrow";
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: white;
}

h3, h4 {
  font-size: 14px;
  line-height: 18px;
}

h1,h2 {
  font-size: 30px;
  line-height: 42px;
}

.item-criterion h2,
.container-half h2 {
  font-size: 24px;
  line-height: 30px;
}
/*
.main-container {
  width: 1200px;  
  margin: 0 auto;
} 